style.
  div {
  width: 700px;
  height: 40px;
  margin-top: 3px;
  background: green;
  }
  div:nth-child(2){
  background:#fff;
  }
  div:nth-child(3){
  background:#C8AED3;
  }
  div:nth-child(4){
  background:#BD9FCA;
  }
  div:nth-child(5){
  background:#A67EB6;
  }
  div:nth-child(6){
  background:#9D5DB7;
  }
  div:nth-child(7){
  background:#8B46A6;
  }
  div:nth-child(8){
  background:#793394;
  }
  div:nth-child(9){
  background:#692285;
  }
  div:nth-child(10){
  background:#692285;
  }
  div:nth-child(11){
  background:#692285;
  }
-for(var cajas = 1; cajas <=10; cajas++)
  div