div.box{
    background-color: rgb(31, 80, 187);
    border: 4px solid rgb(245, 13, 59);
    border-radius: 130px;
    color: rgb(240, 238, 238);
    height: 250px;
    font-size: 4em;
    line-height: 4em;
    text-align: center;
    transition: all 0.5s;
    margin: 200px auto;
    width: 250px;
}
div.box:hover{
    background-color: #8AFF00;
    border: 4px solid rgb(15, 15, 189);
    color: rgb(250, 250, 250);
    transform: scale(2) rotate(360deg);
    border-color: 

}  
